body
{
	/* Background pattern from Subtle Patterns */
	background-image: url("../images/1.png");
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

h3
{
	color: lightgreen;
}

b
{
	color: #33cc33;
}

.wrapper
{
	width: 100%;
}

.header
{
	width:100%;
	padding: 20px 0;
}

.logo
{
	width: 1000px;
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
}

.rest
{
	width: 100%;
}

.calendar
{
	color: #33cc33;
	float:left;
	font-size: 40px;
	margin-left: 250px;
	margin-right: 10px;
}

#zegar
{
	font-size: 40px;
	color: white;
	float:left;
}

.clock
{
	font-size: 40px;
	color: #ff1a75;
	margin-left: 10px;
}

.pwsz
{
	float:left;
	height: 100px;
	margin-top: 10px;
}
.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #2f59f0;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

.content
{
	width: 1000px;
	//min-height: 269px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 10px;
	margin-top:1%;
	margin-bottom:1%;
}

.footer
{
	
	padding-bottom: 30px;
	padding-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #222222;
	width: 100%;
}

span
{
	color: #c34f4f;
	font-size: 60px;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #cf6969;
}

ol > li:hover > a
{
	color: #451717;
}
